@page "/configuration/instructions/events"
@layout SidebarLayout

<PageTitle>Events Options and Instructions</PageTitle>

<ilw-content>
    <h1>Events Options and Instructions</h1>
    <p>Events are a modification of resources that includes specific event details, like date/time start and end, speaker, and location. </p>
</ilw-content>

<InstructionList CategoryType="CategoryType.Event"></InstructionList>