@page "/configuration/instructions/faqs"
@layout SidebarLayout

<PageTitle>FAQs Options and Instructions</PageTitle>

<ilw-content>
    <h1>FAQs Options and Instructions</h1>
    <p>FAQs are a modification of resources that uses a simple question, simple description, and a complex rich-text templated answer. </p>
</ilw-content>

<InstructionList CategoryType="CategoryType.Faq"></InstructionList>