@page "/configuration/instructions/notes"
@layout SidebarLayout

<PageTitle>Notes Options and Instructions</PageTitle>

<ilw-content>
    <h1>Notes Options and Instructions</h1>
    <p>Notes are an extension of resources that allows a rich-text format and template for the description. Use this option if you are trying to support a full-fledged CMS-like system with the resource repository.</p>
</ilw-content>

<InstructionList CategoryType="CategoryType.Note"></InstructionList>