@page "/configuration/instructions/people"
@layout SidebarLayout

<PageTitle>People Options and Instructions</PageTitle>

<ilw-content>
    <h1>People Options and Instructions</h1>
    <p>People are a modification of resources that uses names, departments, and job titles instead of title. Note that this is not tied to any source like Banner, Illinois Experts, or EDW. You can use this if you want to have a directory-style layout and people are not affiliated with the University.</p>
</ilw-content>

<InstructionList CategoryType="CategoryType.Person"></InstructionList>