@page "/configuration/instructions/publications"
@layout SidebarLayout

<PageTitle>Publications Options and Instructions</PageTitle>

<ilw-content>
    <h1>Publications Options and Instructions</h1>
    <p>Publications are an extension of resources that have additional fields for book title, author, journal, etc. This has some additional search options to be able to pull information by author.</p>
</ilw-content>

<InstructionList CategoryType="CategoryType.Publication"></InstructionList>