@page "/configuration/instructions/resources"
@layout SidebarLayout

<PageTitle>Resource Options and Instructions</PageTitle>

<ilw-content>
    <h1>Resource Options and Instructions</h1>
    <p>Resources are the basic component. They consist of a title, a description, an image, and related links. Use this option if you are just indexing a list of resources, or if you are maintaining the resources in another system and just using this for search and filtering.</p>
</ilw-content>

<InstructionList CategoryType="CategoryType.Resource"></InstructionList>