@page "/publication/edit"
@layout SidebarLayout

<PageTitle>Publication - Edit</PageTitle>

<ilw-content>
    <h1>Edit Publications</h1>
</ilw-content>

@if (_useItem ?? false)
{
    <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@ItemList" ItemTitle="Publication" AddClicked="SetNewItem" EditClicked="ChooseItem" SearchClicked="GetItems"></SearchGenericItem>
}
