@page "/publication/relatedlinks"
@layout SidebarLayout

<PageTitle>Publications - Related Links Information</PageTitle>

<ilw-content>
    <h1>Related Links Information</h1>
    <Instruction CategoryType="CategoryType.Publication" FieldType="FieldType.Links"></Instruction>
</ilw-content>

@if (Item != null)
{
    <LinkList @ref="_linkList" Links="@Item.LinkList?.ToList()"></LinkList>
    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
}