@page "/add"
@layout SidebarLayout

<PageTitle>Add Items</PageTitle>

<ilw-content>
    <h1>Add Items</h1>
    <p>You have multiple options to add items. Please choose one of the below.</p>
    <ul class="ilw-buttons">
        @if (UseEvents)
        {
            <li><a href="/event/general">Event</a></li>
        }
        @if (UseFaqs)
        {
            <li><a href="/faq/general">FAQ</a></li>
        }
        @if (UseNotes)
        {
            <li><a href="/note/general">Note</a></li>
        }
        @if (UsePeople)
        {
            <li><a href="/person/general">Person</a></li>
        }
        @if (UsePublications)
        {
            <li><a href="/publication/general">Publication</a></li>
        }
        @if (UseResources)
        {
            <li><a href="/resource/general">Resource</a></li>
        }
    </ul>
</ilw-content>