@page "/resource/edit"
@layout SidebarLayout

<PageTitle>Resources - Edit</PageTitle>

<ilw-content>
    <h1>Edit Resources</h1>
</ilw-content>

@if (_useItem ?? false)
{
    <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@ItemList" ItemTitle="Resource" AddClicked="SetNewItem" EditClicked="ChooseItem" SearchClicked="GetItems"></SearchGenericItem>
}

