@page "/review/edit"
@layout SidebarLayout

<PageTitle>Review - Edit Review Process</PageTitle>

<ilw-content>
    <h1>Edit Review Process</h1>
    <p><strong>Phase 2</strong> will allow you to edit a review process that will flag items for review after a certain amount of time.</p>
</ilw-content>