@page "/review/linkcheck"
@layout SidebarLayout

<PageTitle>Review - Validate Links</PageTitle>

<ilw-content>
    <h1>Validate Links</h1>
    <p><strong>Phase 2</strong> will allow you to schedule a link check to run in the background to flag links that no longer exist.</p>
</ilw-content>