@page "/review/old"
@layout SidebarLayout

<PageTitle>Review Old Items</PageTitle>

<ilw-content>
    <h1>Review Old Items</h1>
    <p><strong>Phase 2</strong> will allow you to list items that are old and have you confirm they are still active.</p>
</ilw-content>