<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <ilw-content><p>Logged in as @context.User.Identity?.Name</p></ilw-content>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>
