<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <ul class="ilw-buttons">
                <li><a class="ilw-button" href="/">Home</a></li>
                <li><a class="ilw-button" href="MicrosoftIdentity/Account/SignOut">Sign Out</a></li>
            </ul>
        </Authorized>
        <NotAuthorized>
            <ul class="ilw-buttons">
                <li><a class="ilw-button" href="/">Home</a></li>
                <li><a class="ilw-button" href="MicrosoftIdentity/Account/SignIn">Log in</a></li>
            </ul>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>
