<ilw-header-menu slot="navigation">
    <ul>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Add / Edit Information</span>
                <ul>
                    <li><a href="/add">Add New Item</a></li>
                    <li><a href="/edit">Edit Existing Item</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Transfer Information</span>
                <ul>
                    <li><a href="/transfer/load">Load Tab-Delimited List</a></li>
                    <li><a href="/transfer/save">Save Tab-Delimited List</a></li>
                    <li><a href="/transfer/loadjson">Load JSON File</a></li>
                    <li><a href="/transfer/savejson">Save JSON File</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Review Information</span>
                <ul>
                    <li><a href="/viewdrafts">View Drafts</a></li>
                    <li><a href="/review">View Review List</a></li>
                    <li><a href="/editreview">Edit Review Process</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Configuration</span>
                <ul>
                    <li><a href="/configuration/sources">Sources</a></li>
                    <li><a href="/configuration/instructions/resources">Options and Instructions</a></li>
                    <li><a href="/configuration/filters">Manage Filters</a></li>
                    <li><a href="/configuration/security">Security</a></li>
                    <li><a href="/configuration/requestdeletion">Request Deletion</a></li>
                    <li><a href="/configuration/testing">Testing Access</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Contact Us</span>
                <ul>
                    <li><a href="/resources">Helpful Resources</a></li>
                    <li><a href="https://go.illinois.edu/resource-help">Report a Problem</a></li>
                    <li><a href="/about">About This Project</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
    </ul>
</ilw-header-menu>