<ilw-header-menu slot="navigation">
    <ul>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Mange Information</span>
                <ul>
                    <li><a href="/add">Add New</a></li>
                    <li><a href="/edit">Edit Existing</a></li>
                    <li><a href="/viewdrafts">View Drafts</a></li>
                    <li><a href="/audit">Audit</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Transfer Information</span>
                <ul>
                    <li><a href="/upload">Upload Tab-Delimited List</a></li>
                    <li><a href="/download">Download Tab-Delimited List</a></li>
                    <li><a href="/downloadjson">Download JSON</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Configuration</span>
                <ul>
                    <li><a href="/configuration/sources">Sources</a></li>
                    <li><a href="/configuration/instructions">Instructions</a></li>
                    <li><a href="/configuration/filters">Filters</a></li>
                    <li><a href="/configuration/security">Security</a></li>
                    <li><a href="/configuration/audit">Audit Process</a></li>
                    <li><a href="/configuration/requestdeletion">Request Deletion</a></li>
                    <li><a href="/configuration/testing">Testing Access</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
        <li>
            <ilw-header-menu-section>
                <span slot="label">Contact Us</span>
                <ul>
                    <li><a href="/resources">Helpful Resources</a></li>
                    <li><a href="https://go.illinois.edu/resource-help">Report a Problem</a></li>
                    <li><a href="/about">About This Project</a></li>
                </ul>
            </ilw-header-menu-section>
        </li>
    </ul>
</ilw-header-menu>