@page "/resources"

<PageTitle>About the Project and Resources</PageTitle>
<ilw-content width="page">
<h1>About the Project and Resources</h1>

<h2>Resources</h2>
<p>To get help with the resource repository, contact Bryan Jonker at <a href="mailto:jonker@illinois.edu">jonker@illinois.edu</a>. </p>

<p>To report a bug or request an enhancement, go to <a href="https://go.illinois.edu/itpartners-resource-help">our GitHub repository and create an issue</a>. This will log the issue so we can review it. Note that this application is meant for campus, which means we cannot customize it to a specific unit unless others will benefit from the change.</p>

<p>This application is meant to be used with the Illinois Toolkit, although there's no reason why you cannot use this application alone. The <a href="https://builder3.toolkit.illinois.edu">Toolkit Builder</a> will have examples of how this can be integrated with the toolkit.</p>

<p>We are also working on enhancements and documentation for this. To see the project status of individual items, you can look at <a href="https://github.com/orgs/web-illinois/projects/17/">our GitHub project status board</a>.</p>

<h2>About This Project</h2>

    <p>
        In 2020, Nancy Latham, the Executive Director of the Council on Teacher Education (CoTE), needed a way to list resources for K-12 teachers teaching remotely. This list needed to be searchable, filterable, and easy to manage. She spoke with IT Partners at Education, and we (Bryan Jonker, Elaine Robbins, and Tovah Irwin) built a tool to allow people to upload Excel worksheets and display them as individual items on a page. Amanda Heinsman took over as a curator of this list, and we worked with her to make improvements to the tool, including the ability to make changes without the Excel format. 
    </p>
    <p>
        IT Partners realized that this tool could be used for other purposes, and the Office of Community College Research and Leadership (OCCRL) asked to be the second user of this list. However, they needed publication information, which included specialized fields. We added the those specialized fields to the publication option, and OCCRL has been using the tool since 2021.
    </p>
    <p>
        Other areas have been using the tool as well, and we have been making improvements to the tool based on their feedback. In 2025, we rewrote the tool in a new framework and added more publishing options like People, FAQs, Events, etc. In 2026, we transferred the tool to WIGG and the University Website Management Center of Expertise group. 
    </p>
</ilw-content>