@page "/transfer/save"
@layout SidebarLayout

<PageTitle>Save Text File</PageTitle>

<ilw-content>
    <h1>Save Text File</h1>
    <p>This allows you to save to a tab-delimited file that can be opened in Excel. Note that downloading a lot of records at once will take a while. Please do not leave this page while your information is saving.</p>
    <p>Related Links are separated by a semi-colon, and are in Markdown format (text is in square brackets, link is in parenthesis).</p>
    <p>Tags, Audience, and Topics are separated by a semi-colon.</p>
</ilw-content>

<ilw-content>
    <div class="ils-input-entry">
        <label for="title">Select Type to Load</label>
        <select id="title" @bind="SelectedOption">
            @foreach (var option in Options)
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>

    <p><button @onclick="Download" class="ilw-button">Download File</button></p>
</ilw-content>