@page "/transfer/save"
@layout SidebarLayout

<PageTitle>Save Text File</PageTitle>

<ilw-content>
    <h1>Save Text File</h1>
    <p>This allows you to save to a tab-delimited file that can be opened in Excel. Note that downloading a lot of records at once will take a while. Please do not leave this page while your information is saving.</p>
    <p>Related Links are separated by a semi-colon, and are in Markdown format (text is in square brackets, link is in parenthesis).</p>
    <p>Tags, Audience, and Topics are separated by a semi-colon.</p>
</ilw-content>
<ilw-spacer></ilw-spacer>
<ilw-icon-panel theme="gray">
    <ilw-icon icon="info" slot="icon"></ilw-icon>
    <p><strong>File Update on 6/2/2026:</strong> We have added a <em>link text</em> field to the template after the link for all exports / imports. If your import function is not working, you may need to manually add a column after the link to account for this.</p>
</ilw-icon-panel>


<ilw-content>
    <div class="ils-input-entry">
        <label for="title">Select Type to Load</label>
        <select id="title" @bind="SelectedOption">
            @foreach (var option in Options)
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>

    <p><button @onclick="Download" class="ilw-button">Download File</button></p>
</ilw-content>