@page "/transfer/loadjson"
@layout SidebarLayout

<PageTitle>Load JSON File</PageTitle>

<ilw-content>
    <h1>Load JSON File</h1>
    <p>This allows you to load a JSON file to the server. Note that uploading a lot of records at once will take a while. Please do not leave this page while your information is loading.</p>
    <p>This is meant to be a full backup and restore to a blank area. If you are looking for a manual way to update information, you should use the tab delimited text file option.</p>
</ilw-content>

<ilw-content>
    <div class="ils-input-entry">
        <label for="title">Select Type to Load</label>
        <select id="title" @bind="SelectedOption">
            @foreach (var option in Options)
            {
                <option value="@option">@option</option>
            }
        </select>
    </div>

    <InputFile OnChange="@LoadFile" />

    <p><button @onclick="Upload" class="ilw-button">Download File</button></p>
</ilw-content>