@page "/configuration/deletion"
@layout SidebarLayout

<PageTitle>Configuration - Delete Source</PageTitle>

<ilw-content>
    <h1>Delete Source</h1>

    <p>You can delete all the data in your source. This is automatic and cannot be undone. </p>
    <DeleteNotice ItemText="This will delete all data" DeleteClicked="DeleteItems" ItemId="data" ItemTitle="@("Data in Source " + _sourceCode)"></DeleteNotice>

    <p>You can delete your source. This is automatic and cannot be undone. </p>
    <DeleteNotice ItemText="This will delete all data, tags, security, and source information" ItemId="source" DeleteClicked="DeleteSource" ItemTitle="@("Source " + _sourceCode)"></DeleteNotice>
</ilw-content>
