@page "/configuration/review"
@layout SidebarLayout

<PageTitle>Configuration - Review Options</PageTitle>

<ilw-content>
    <h1>Review Options</h1>
    <p><strong>Phase 2</strong> will allow you to edit a review process that will flag items for review after a certain amount of time.</p>
</ilw-content>