@page "/configuration/templates"
@layout SidebarLayout

<PageTitle>Configuration - Templates</PageTitle>

<ilw-content>
    <h1>Templates</h1>
    <p><strong>Phase 2</strong> will allow you to create templates and apply them to notes.</p>
</ilw-content>