@page "/configuration/testing"
@layout SidebarLayout

<PageTitle>Configuration - Testing Access</PageTitle>

<ilw-content>
    <h1>Testing Access</h1>
    <p>You can go to the security area and add yourself as a user permanently.</p>
</ilw-content>
<button class="ilw-button" @onclick="e => { SwitchToTesting(); }">Testing Area Security</button>
