
    <div class="filter-box">
        <p>@Value?.Item2 (@Value?.Item1)</p>
        <div class="button-group">
            <button class="ilw-button small" @onclick="MoveUp"><ilw-icon alt="up" size="24px" icon="back" class="rotate"></ilw-icon></button>
            <button class="ilw-button small" @onclick="MoveDown"><ilw-icon alt="down" size="24px" icon="next" class="rotate"></ilw-icon></button>
        </div>
    </div>

