<ilw-content>
    <div>
        <label>
            @Title
        </label>
        <BlazoredTextEditor @ref="@_quillItem" Placeholder="@Title">
            <ToolbarContent>
                <span class="ql-formats">
                    <button class="ql-bold" aria-label="Apply Bold"></button>
                    <button class="ql-italic" aria-label="Apply Italics"></button>
                    <button class="ql-underline" aria-label="Apply Underline"></button>
                    <button class="ql-strike" aria-label="Apply Strikethrough"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-link" aria-label="Apply Link"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="bullet" aria-label="Apply Unordered List"></button>
                    <button class="ql-list" value="ordered" aria-label="Apply Ordered List"></button>
                    <button class="ql-indent" value="-1"></button>
                    <button class="ql-indent" value="+1"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-header" aria-label="Apply Heading 2" value="2" style="display: flex; place-items: center; font-weight: bolder">
                        H2
                    </button>
                    <button class="ql-header" aria-label="Apply Heading 3" value="3" style="display: flex; place-items: center; font-weight: bolder">
                        H3
                    </button>
                </span>
            </ToolbarContent>
            <EditorContent>
            </EditorContent>
        </BlazoredTextEditor>
    </div>
</ilw-content>