<ilw-content>
    <fieldset>
        <legend>Status on Site</legend>
        <p class="top">Make this live on the source website?</p>
        <div style="display: flex;">
            <div class="ils-input-entry-compact">
                <label for="status-true">Published</label>
                <input type="radio" id="status-true" name="status" value="true" checked="@Value" @onchange="@(() => { Value = true; })">
            </div>
            <div class="ils-input-entry-compact">
                <label for="status-false">Unpublished / Draft</label>
                <input type="radio" id="status-false" name="status" value="false" checked="@(!Value)" @onchange="@(() => { Value = false; })">
            </div>
        </div>
    </fieldset>
</ilw-content>