@page "/faq/edit"
@layout SidebarLayout

<PageTitle>FAQ - Edit</PageTitle>

<ilw-content>
    <h1>Edit FAQs</h1>
</ilw-content>

@if (_useItem ?? false)
{
    <SearchGenericItem @ref="@_searchGenericItem" GenericItems="@ItemList" ItemTitle="FAQ" AddClicked="SetNewItem" EditClicked="ChooseItem" SearchClicked="GetItems"></SearchGenericItem>
}
