@page "/faq/general"
@layout SidebarLayout

<PageTitle>FAQ - General Information</PageTitle>

<ilw-content>
    <h1>General Information</h1>
</ilw-content>

@if (Item != null)
{
    <Instruction CategoryType="CategoryType.Faq" FieldType="FieldType.General"></Instruction>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="title">Question</label>
            <textarea id="title" @bind="Item.Question" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>

    <ilw-content>
        <div class="ils-input-entry">
            <label for="link">Summary URL</label>
            <textarea id="link" @bind="Item.SummaryAnswer" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>

    <ilw-content>
        <div class="ils-input-entry">
            <label for="description">Link</label>
            <input id="link" type="text" class="ils-input-long" @bind="Item.Url" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>

    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
}

