@page "/event/detail"
@layout SidebarLayout

<PageTitle>Event - Detail Information</PageTitle>

<ilw-content>
    <h1>Detail Information</h1>
</ilw-content>

<Instruction CategoryType="CategoryType.Event" FieldType="FieldType.Specific"></Instruction>
@if (Item != null) {
    <ilw-content>
        <div class="ils-input-entry">
            <label for="startdate">Start Date / Time</label>
            <input id="startdate" type="datetime-local" @bind="Item.StartDate" class="ils-input-long" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="enddate">End Date / Time</label>
            <input id="enddate" type="datetime-local" @bind="Item.EndDate" class="ils-input-long" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="allday">Is this an all-day event?</label>
            <input id="allday" type="checkbox" @bind="Item.IsAllDay" class="ils-input-long" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="location">Location</label>
            <input id="location" type="text" @bind="Item.Location" class="ils-input-long" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="speakers">Speakers</label>
            <input id="speakers" type="text" @bind="SpeakerList" class="ils-input-long" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>
    <ilw-content>
        <div class="ils-input-entry">
            <label for="sponsor">Sponsor</label>
            <input id="sponsor" type="text" @bind="Item.Sponsor" class="ils-input-long" @bind:after="Layout.SetDirty" />
        </div>
    </ilw-content>

    <button class="ilw-button ilw-theme-orange-2" @onclick="Save" @onblur="Layout.RemoveMessage">Save</button>
}
