fieldset.fields-used-yes-no {
    display: flex;
}

    fieldset.fields-used-yes-no div.ils-input-entry-compact {
        grid-template-columns: 50px auto;
        margin: 0;
    }

div.fields-used-entry {
    display: grid;
    grid-template-columns: auto 250px;
    margin: 10px;
    padding: 10px;
    border: thin solid var(--il-blue);
    row-gap: 5px;
}

    div.fields-used-entry label.title-label {
        display: flex;
        align-items: center;
    }

    div.fields-used-entry div.input-toggle {
        margin: 0;
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    div.fields-used-entry input.input-item {
        grid-column: 1 / span 2;
        border: thin solid var(--il-storm-lighter-3);
    }